@import url("https://use.typekit.net/qtr1nad.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --Brand-Black-RGB: 25, 21, 75;
  --Brand-Black: rgb(var(--Brand-Black-RGB));
  --Brand-White-RGB: 255, 255, 255;
  --Brand-White: rgb(var(--Brand-White-RGB));
}
